@charset "UTF-8";



@media (min-width:320px){
    .main{
        background-image: url("../imagens/backgrounds/background-default.png"); 
        background-color: #494949;
        background-position: bottom; 
        background-repeat: no-repeat; 
        background-size: cover; 
    }
    .main__wrapper{
        padding: 165px 0 80px;
        margin: 0px auto 0px;
        display: grid;
        width: 90vw;
        max-width: 1400px;
        grid-template: 
        'introduction'
        'img'
        'solutions';
        grid-template-columns: 100%;
        grid-gap: 10px;
        color: white;
    }
    .main__introduction{
        grid-area: introduction;
        font-family: var(--roboto-mono);
        font-weight: 400;
        font-size: var(--titulo-principal);
        text-align: center;
        width: 80%;
        margin: 0px auto 60px;
    }
    .main__introduction input, .main__solutions input{
        font-size: var(--titulo-secundario);
        color: white;
        padding: 6px 20px;
        margin-top: 20px;
        border-radius: 13px;
        border: none;
        background: rgb(226,28,33);
        background: linear-gradient(278deg, rgba(226,28,33,1) 0%, rgba(226,28,33,0.45) 50%, rgba(226,28,33,1) 100%);

    }
    .main__img{
        grid-area: img;
        width: 250px;
        margin: auto;
    }
    .main__solutions{
        grid-area: solutions;
        color: white;
        margin: 50px auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .main__solutions h2{
        font-family: var(--montserrat);
        font-size: var(--titulo-secundario);
        margin: 0px auto 20px;
    }
    .main__solutions p{
        font-family: var(--montserrat);
        font-size: var(--texto-normal);
        margin: 0px auto 0px;
        line-height: 1.2;
    }

    .solutions{
        background-image: url("../imagens/backgrounds/background__solutions.png"); 
        background-color: #494949;
        background-position: bottom; 
        background-repeat: no-repeat; 
        background-size: cover; 
        padding: 50px 0;
    }
    .solutions h2{
        font-size: var(--titulo-secundario);
        font-weight: 600;
        font-family: var(--montserrat);
        color: white;
        margin: 50px;
        text-align: center;
    }
    .solutions__buttons{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .solutions__buttons input{
        margin: 15px;
        width: 140px;
        height: 50px;
        font-size: var(--texto-destaque);
        font-family: var(--montserrat);
        text-align: center;
        color: #fff;
        background-color: transparent;
        border: 3px solid var(--vermelho);
        border-radius: 10px;
        transition: 0.3s;
    }
    .solutions__buttons input:hover{
        background: var(--vermelho);
        background: -moz-linear-gradient(138deg, rgba(226,28,33,1) 42%, rgba(113,39,138,0.8953956582633054) 100%);
        background: -webkit-linear-gradient(138deg, rgba(226,28,33,1) 42%, rgba(113,39,138,0.8953956582633054) 100%);
        background: linear-gradient(138deg, rgba(226,28,33,1) 42%, rgba(113,39,138,0.8953956582633054) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e21c21",endColorstr="#71278a",GradientType=1);
        border: none;
    }


    .video{
        background-image: url(../imagens/backgrounds/background__videoSection.png);
        background-color: #494949;
        background-position: bottom; 
        background-repeat: no-repeat; 
        background-size: cover;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 0;
    }
    .video h2{
        font-size: var(--titulo-principal);
        font-family: var(--montserrat);
        color: white;
        text-align: center;
        margin-bottom: 50px;
    }
    .video iframe{
        background-image: url(../imagens/backgrounds/background__video.png);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: contain;
        margin: auto;
        width: 314px;
        height: 176px;
    }

}@media (min-width:600px) {
    .video{
        padding: 75px 0;
    }
    .main__wrapper{
        grid-template:
        "introduction img"
        "solutions solutions";
    }
    .main__introduction{
        text-align: start;
        margin: 60px auto 20px;
    }
    .main__solutions{
        margin-top: 0;
    }

    .solutions__buttons{
        width: 85%;
    }
    .solutions__buttons input{
        width: 153px;
        height: 55px;
    }
    .video iframe{
        width: 572px;
        height: 322px;
    }
}@media (min-width:801px) {
    .main__wrapper{
        grid-template:
        "introduction img"
        "solutions img";
    }
    .main__introduction{
        margin: 20px auto 0;
        height: 210px;
    }
    .main__introduction h1{
        font-weight: bold;
        letter-spacing: 4px;
        line-height: 1.2;
    }
    .main__introduction input{
        font-weight: lighter;
    }
    .main__img{
        width: 330px;
    }
    .main__solutions{
        align-items: start;
        margin-top: 20px;
        margin: auto;
        width: 80%;
    }
    .main__solutions h2{
        margin: 0 0 20px;
    }
    .main__solutions input{
        display: none;
    }

    .solutions{
        padding: 70px 0 90px;
    }
    .solutions__buttons{
        width: 80%;
    }
    .solutions__buttons input{
        width: 160px;
        height: 57px;
    }


    .video{
        padding: 100px 0;
    }
    .video iframe{
        width: 701px;
        height: 394px;
    }
}@media (min-width:1025px) {
    .main__wrapper{
        padding: 195px 0 140px;
        margin: 0px auto 0px;
        grid-template:
        "introduction img" 40%
        "solutions img" auto;
        grid-template-columns: 60% 40%;
    }
    .main__introduction{
        margin-top: 40px;
    }
    .main__solutions{
        justify-content: start;
    }

    .solutions__buttons{
        width: 70%;
        max-width: 1100px;
    }
    .solutions__buttons input{
        width: 180px;
        height: 59px;
    }
}@media (min-width:1281px) {
    .main__wrapper{
        padding: 215px 0 190px;
        margin: 0px auto 0px;
    }

    .solutions{
        padding: 90px 0 120px;
    }
    .solutions__buttons input{
        width: 220px;
        height: 62px;
    }

    .video iframe{
        width: 1071px;
        height: 602px;
    }
}