@charset "UTF-8";

body{
    background-image: url("../imagens/backgrounds/background-default.png"); 
    background-color: #494949;
    background-position: bottom; 
    background-repeat: no-repeat; 
    background-size: cover; /
}