@charset "UTF-8";

/*Importação de fontes: */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto+Mono:wght@400;500;700&display=swap');

/*Variáveis CSS: */
:root{
    /*Paleta de Cores: */
    --vermelho: #E21C21;
    --amarelo: #F2A007;
    --verde-whatsapp: #02A25D;
    --azul-gradiente: #382CBF;
    --azul-idcontrol: #0069B4;
    --cor-fundo: #292829;

    /*Tipografia: */
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
}

/*CSS Background: */
main{
    background-color: var(--cor-fundo);
    background-image: url(../imagens/backgrounds/background-default.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 100%;
}

/*Links*/
a{
    font-family: var(--open-sans);
    color: white;
    text-decoration: none;
    font-weight: normal;
}

a:hover{
    color: #791014;
    text-decoration: underline;
}